/* ------------------------------
   NAVBAR GENERAL
------------------------------ */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background: var(--white);
    padding: 15px 0;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    z-index: 999;
}

nav {
    width: 90%;
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------
   LOGO / NOMBRE
------------------------------ */
.nav-logo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--lila-dark);
    letter-spacing: 1px;
}

/* ------------------------------
   LINKS DEL MENU
------------------------------ */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    font-weight: 500;
    color: var(--text-dark);
    transition: color 0.2s ease, opacity 0.2s ease;
}

.nav-links li a:hover {
    color: var(--lila-dark);
    opacity: 0.8;
}

/* ------------------------------
   NAV RESPONSIVE (MOBILE)
------------------------------ */
.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--lila-dark);
}

/* Responsive */
@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: var(--white);

        flex-direction: column;
        gap: 20px;

        padding: 25px 0;
        text-align: center;

        box-shadow: 0px 6px 16px rgba(0,0,0,0.08);

        transform: translateY(-500px);
        transition: transform 0.4s ease;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .menu-btn {
        display: block;
    }
}


/* En pantallas pequeñas, el header es más pequeño */
@media (max-width: 768px) {
  main {
    margin-top: 10rem;
  }
}